.home-page {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 115px;
}

.main-pic {
  padding: 100px 170px 0px;
}
.main-content {
  margin: 50px 30px 80px -50px;
}

.main-header {
  font-weight: bold;
  margin-top: 20px;
}

.main-text {
  text-align: left;

  margin-top: 40px;
  /* margin-top: 20px; */
}

.job-title {
  font-weight: bold;
}
