.navbar {
  width: 100%;
  /* display: flex; */
  justify-content: flex-end;
  align-items: center;
  padding: 20px 0px;
  /* box-shadow: 0 1px 18px rgb(255, 255, 255); */
}

.nav-title {
  margin-right: auto;
  font-size: 1.5em;
}
.nav-title :hover {
  color: #411a9c;
  font-size: 30px;
  font-weight: bold;
}

.navbar .link-item {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
}

.navbar a {
  text-decoration: none;
  color: #555;
  transition: all 0.2s ease 0s;
}

.links-container .link-item a:hover {
  color: #412680;
  font-size: 20px;
  font-weight: bold;
}
